schema/schema_7.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="person">
    <xs:all>
      <xs:element type="xs:string" name="function" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="givenName" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="familyName" minOccurs="0" maxOccurs="1"/>
      <xs:element type="emailAddress" name="email" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="fax" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="phone" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="mobile" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="gender" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="note" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="address">
    <xs:all>
      <xs:element type="countryCodeType" name="country" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="locality" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="region" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="postalCode" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:byte" name="postOfficeBoxNumber" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="street" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:short" name="streetNumber" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:byte" name="subunit" minOccurs="0" maxOccurs="1"/>
      <xs:element name="geo" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:all>
            <xs:element type="xs:float" name="latitude" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:float" name="longitude" minOccurs="1" maxOccurs="1"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="availability">
    <xs:restriction base="xs:string">
      <xs:enumeration value="reserved"/>
      <xs:enumeration value="active"/>
      <xs:enumeration value="taken"/>
      <xs:enumeration value="reference"/>
      <xs:enumeration value="private"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="price">
    <xs:simpleContent>
      <xs:extension base="xs:positiveInteger">
        <xs:attribute type="xs:positiveInteger" name="frequency" use="optional"/>
        <xs:attribute name="timesegment" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="infinite"></xs:enumeration>
              <xs:enumeration value="w"></xs:enumeration>
              <xs:enumeration value="m"></xs:enumeration>
              <xs:enumeration value="y"></xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="propertysegment" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="all"></xs:enumeration>
              <xs:enumeration value="m2"></xs:enumeration>
              <xs:enumeration value="km2"></xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="currencyCodeType">
    <xs:restriction base="xs:string">
      <xs:minLength value="3"/>
      <xs:maxLength value="3"/>
      <xs:pattern value="[A-Z]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="countryCodeType">
    <xs:restriction base="xs:string">
      <xs:minLength value="2"/>
      <xs:maxLength value="2"/>
      <xs:pattern value="[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="fullUrl">
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="title" use="optional"/>
        <xs:attribute type="xs:string" name="label" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="categoryTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="apartment"/>
      <xs:enumeration value="attic-flat"/>
      <xs:enumeration value="bachelor-flat"/>
      <xs:enumeration value="bifamiliar-house"/>
      <xs:enumeration value="building-land"/>
      <xs:enumeration value="double-garage"/>
      <xs:enumeration value="duplex"/>
      <xs:enumeration value="factory"/>
      <xs:enumeration value="farm"/>
      <xs:enumeration value="farm-house"/>
      <xs:enumeration value="furnished-flat"/>
      <xs:enumeration value="garage"/>
      <xs:enumeration value="house"/>
      <xs:enumeration value="loft"/>
      <xs:enumeration value="mountain-farm"/>
      <xs:enumeration value="multiple-dwelling"/>
      <xs:enumeration value="open-slot"/>
      <xs:enumeration value="parking-space"/>
      <xs:enumeration value="plot"/>
      <xs:enumeration value="roof-flat"/>
      <xs:enumeration value="row-house"/>
      <xs:enumeration value="single-garage"/>
      <xs:enumeration value="single-house"/>
      <xs:enumeration value="single-room"/>
      <xs:enumeration value="terrace-flat"/>
      <xs:enumeration value="terrace-house"/>
      <xs:enumeration value="underground-slot"/>
      <xs:enumeration value="villa"/>
      <xs:enumeration value="chalet"/>
      <xs:enumeration value="studio"/>
      <xs:enumeration value="house"/>
      <xs:enumeration value="covered-slot"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="utilityTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="commercial"/>
      <xs:enumeration value="gastronomy"/>
      <xs:enumeration value="vacation"/>
      <xs:enumeration value="agricultural"/>
      <xs:enumeration value="industrial"/>
      <xs:enumeration value="residential"/>
      <xs:enumeration value="storage"/>
      <xs:enumeration value="parking"/>
      <xs:enumeration value="building"/>

      <xs:enumeration value="advertising-area"/>
      <xs:enumeration value="arcade"/>
      <xs:enumeration value="atelier"/>
      <xs:enumeration value="bakery"/>
      <xs:enumeration value="bar"/>
      <xs:enumeration value="butcher"/>
      <xs:enumeration value="café"/>
      <xs:enumeration value="casino"/>
      <xs:enumeration value="cheese-factory"/>
      <xs:enumeration value="club/disco"/>
      <xs:enumeration value="fuel-station"/>
      <xs:enumeration value="gardening"/>
      <xs:enumeration value="hairdresser"/>
      <xs:enumeration value="kiosk"/>
      <xs:enumeration value="movie-theater"/>
      <xs:enumeration value="office"/>
      <xs:enumeration value="practice"/>
      <xs:enumeration value="restaurant"/>
      <xs:enumeration value="shop"/>
      <xs:enumeration value="shopping-centre"/>
      <xs:enumeration value="hotel"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="featureTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="has-elevator"/>
      <xs:enumeration value="has-nice-view"/>
      <xs:enumeration value="has-fireplace"/>
      <xs:enumeration value="has-cabletv"/>
      <xs:enumeration value="has-elevator"/>
      <xs:enumeration value="is-child-friendly"/>
      <xs:enumeration value="has-parking"/>
      <xs:enumeration value="has-garage"/>
      <xs:enumeration value="has-balcony"/>
      <xs:enumeration value="has-isdn"/> <!-- depricated -->
      <xs:enumeration value="is-wheelchair-accessible"/>
      <xs:enumeration value="is-animal-friendly"/>
      <xs:enumeration value="has-ramp"/>
      <xs:enumeration value="has-lifting-platform"/>
      <xs:enumeration value="has-railway-terminal"/>
      <xs:enumeration value="has-restrooms"/>
      <xs:enumeration value="has-water-supply"/>
      <xs:enumeration value="has-sewage-supply"/>
      <xs:enumeration value="has-power-supply"/>
      <xs:enumeration value="has-gas-supply"/>
      <xs:enumeration value="has-flat-sharing-community"/>
      <xs:enumeration value="is-corner-house"/>
      <xs:enumeration value="is-middle-house"/>
      <xs:enumeration value="has-connected-building-land"/>
      <xs:enumeration value="has-gardenhouse"/>
      <xs:enumeration value="has-raised-ground-floor"/>
      <xs:enumeration value="is-new"/>
      <xs:enumeration value="is-old"/>
      <xs:enumeration value="has-building-law-restrictions"/>
      <xs:enumeration value="is-under-roof"/>
      <xs:enumeration value="has-swimmingpool"/>
      <xs:enumeration value="is-minergie-general"/>
      <xs:enumeration value="is-minergie-certified"/>
      
      <xs:enumeration value="is-sunny"/>
      <xs:enumeration value="is-quiet"/>
      <xs:enumeration value="is_projection"/>
      <xs:enumeration value="has_demolition_property"/>
      
      <xs:enumeration value="has-mountain-view"/>
      <xs:enumeration value="on-a-south-slope"/>
      <xs:enumeration value="has-car-port"/>
      <xs:enumeration value="has-double-garage"/>
      
      
      
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mediaTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="image"/>
      <xs:enumeration value="document"/>
      <xs:enumeration value="plan"/>
      <xs:enumeration value="youtube"/>
      <xs:enumeration value="detail-logo"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="numericValuekeys">
    <xs:restriction base="xs:string">
      <xs:enumeration value="floor"/>
      <xs:enumeration value="number_of_floors"/>
      <xs:enumeration value="number_of_apartments"/>
      <xs:enumeration value="number_of_parcels"/>
      <xs:enumeration value="number_of_rooms"/>
      <xs:enumeration value="number_of_bathrooms"/>
      
      <xs:enumeration value="distance_kindergarten"/>
      <xs:enumeration value="distance_primary_school"/> 
      <xs:enumeration value="distance_high_school"/> 
      <xs:enumeration value="distance_college_university"/> 
      <xs:enumeration value="distance_bus_stop"/>
      <xs:enumeration value="distance_train_station"/>
      <xs:enumeration value="distance_post"/>
      <xs:enumeration value="distance_bank"/>
      <xs:enumeration value="distance_cable_railway_station"/>
      <xs:enumeration value="distance_boat_dock"/>
      <xs:enumeration value="distance_public_transport"/> <!-- depricated -->
      <xs:enumeration value="distance_shop"/>
      <xs:enumeration value="distance_motorway"/> <!--freeway???-->
      <xs:enumeration value="distance_airport"/>
      <xs:enumeration value="max_elevator_weight"/>
      
      <xs:enumeration value="area_property_land"/>
      <xs:enumeration value="property_land_price"/>

      <!-- Pseudo Norm -->
      <xs:enumeration value="area_bwf"/> <!-- Bruttowohnfläche -->
      <xs:enumeration value="area_nwf"/> <!-- Nettowohnfläche -->
      
      <!-- SIA 416 -->
      <xs:enumeration value="area_sia_gf"/> <!-- (Brutto) Geschossfläche -->
      <xs:enumeration value="area_sia_ngf"/> <!-- Nettogeschossfläche -->
      <xs:enumeration value="area_sia_kf"/> <!-- Konstruktionsfläche -->
      <xs:enumeration value="area_sia_nf"/> <!-- Nutzfläche -->
      <xs:enumeration value="area_sia_vf"/> <!-- Verkehrsfläche -->
      <xs:enumeration value="area_sia_ff"/> <!-- Funktionsfläche -->
      <xs:enumeration value="area_sia_kft"/> <!-- Konstruktionsfläche Tragend -->
      <xs:enumeration value="area_sia_kfn"/> <!-- Konstruktionsfläche nicht Tragend -->
      <xs:enumeration value="area_sia_hnf"/> <!-- Hauptnutzfläche -->
      <xs:enumeration value="area_sia_nnf"/> <!-- Nebennutzfläche -->
      
      <!-- DIN 277 -->
      <!--<xs:enumeration value="area_din_bgf"/>-->
      <!--<xs:enumeration value="area_din_kgf"/>-->
      <!--<xs:enumeration value="area_din_ngf"/>-->
      <!--<xs:enumeration value="area_din_nf"/>-->
      <!--<xs:enumeration value="area_din_tf"/>-->
      <!--<xs:enumeration value="area_din_vf"/>-->
      
      <xs:enumeration value="cubature_gva"/> <!-- Gebäudekubatur GVA (prefered) -->
      <xs:enumeration value="cubature_sia"/> <!-- Gebäudekubatur SIA -->

      
      <xs:enumeration value="gross_premium"/> <!-- Bruttorendite -->
      <xs:enumeration value="utilization_number"/> <!--Ausnützungsziffer-->
      <xs:enumeration value="construction_utilization_number"/> <!--Ausnützungsziffer (bau)-->
      
      <xs:enumeration value="year_built"/>
      <xs:enumeration value="year_last_renovated"/>
      <xs:enumeration value="ceiling_height"/>
      <xs:enumeration value="hall_height"/>
      <xs:enumeration value="maximal_floor_loading"/> <!-- m2 -->
      <xs:enumeration value="carrying_capacity_crane"/> <!-- depricated -->
      <xs:enumeration value="carrying_capacity_elevator"/>


    
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="relationkeys">
    <xs:restriction base="xs:string">
      <xs:enumeration value="closeProximity"/>
      <xs:enumeration value="child"/>
      <xs:enumeration value="parent"/>
      <xs:enumeration value="similar"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="emailAddress"> 
    <xs:restriction base="xs:string"> 
      <xs:pattern value="[^@]+@[^\.]+\..+"/> 
    </xs:restriction> 
  </xs:simpleType> 


  <xs:element name="export">
    <xs:complexType>
      <xs:all>
        <xs:element name="exportInformation" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="exporter" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:dateTime" name="exportDate" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:integer" name="exportIteration" default="1" minOccurs="0" maxOccurs="1"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="properties" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="property" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="zoneTypes" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="parcelNumbers" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="referenceId" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="type" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="availability" name="availability" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:dateTime" name="start" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="currencyCodeType" name="priceCurrency" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="price" name="price" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="price" name="netPrice" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="price" name="grossPrice" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="extraCosts" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="extraCost" minOccurs="1" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:simpleContent>
                              <xs:extension base="xs:short">
                                <xs:attribute type="xs:string" name="key" use="optional"/>
                                <xs:attribute type="xs:byte" name="frequency" use="optional"/>
                                <xs:attribute type="xs:string" name="timesegment" use="optional"/>
                                <xs:attribute type="xs:string" name="propertysegment" use="optional"/>
                                <xs:attribute type="xs:string" name="type" use="optional"/>
                                <xs:attribute type="xs:string" name="title" use="optional"/>
                              </xs:extension>
                            </xs:simpleContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                    <xs:element name="publisherSettings" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="publisherSetting" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element type="xs:string" name="image_limit" minOccurs="0" maxOccurs="1"/>
                                <xs:element type="xs:string" name="document_limit" minOccurs="0" maxOccurs="1"/>
                                <xs:element type="xs:string" name="plan_limit" minOccurs="0" maxOccurs="1"/>
                                <xs:element type="xs:string" name="hide_address" minOccurs="0" maxOccurs="1"/>
                                <xs:element type="xs:string" name="hide_street" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="options" minOccurs="0" maxOccurs="1">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="option" maxOccurs="unbounded" minOccurs="1">
                                      <xs:complexType>
                                      <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                      <xs:attribute type="xs:string" name="key" use="optional"/>
                                      </xs:extension>
                                      </xs:simpleContent>
                                      </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                              <xs:attribute type="xs:string" name="id" use="required"/>
                              <xs:attribute type="xs:string" name="label" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="address" type="address" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="softwareInformation" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="lastUser" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:dateTime" name="lastUpdate" minOccurs="1" maxOccurs="1"/>
                          <xs:element type="xs:byte" name="updateIteration" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:dateTime" name="creation" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="providerInformation" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:boolean" name="public" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="features" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="feature" type="featureTypes" maxOccurs="unbounded" minOccurs="1"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="numericValues" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="numericValuekeys" name="key" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="categories" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="categoryTypes" name="category" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="utilities" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="utilityTypes" name="utility" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="relations" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="relation" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="relationkeys" name="key" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="seller" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="organization" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="address" type="address" minOccurs="0" maxOccurs="1"/>
                                <xs:element type="xs:string" name="legalName" minOccurs="0" maxOccurs="1"/>
                                <xs:element type="xs:string" name="brand" minOccurs="0" maxOccurs="1"/>
                                <xs:element type="emailAddress" name="email" minOccurs="0" maxOccurs="1"/>
                                <xs:element type="emailAddress" name="emailRem" minOccurs="0" maxOccurs="1"/>
                                <xs:element type="xs:string" name="fax" minOccurs="0" maxOccurs="1"/>
                                <xs:element type="xs:string" name="phone" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="website" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:anyURI">
                                      <xs:attribute type="xs:string" name="title"/>
                                      <xs:attribute type="xs:string" name="label"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="person" name="viewPerson" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="person" name="visitPerson" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="person" name="inquiryPerson" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="details" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="detail" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>

                                <xs:element type="xs:string" name="name" minOccurs="1" maxOccurs="1"/>
                                <xs:element type="xs:string" name="excerpt" minOccurs="0" maxOccurs="1"/>
                                
                                <xs:element name="tags" maxOccurs="1" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="tag" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="urls" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="fullUrl" name="url" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="descriptions" maxOccurs="1" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="description" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="title" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="attachments" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="media" minOccurs="1" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:all maxOccurs="1" minOccurs="1">
                                            <xs:element type="xs:string" name="alt" maxOccurs="1"
                                              minOccurs="0"/>
                                            <xs:element type="xs:string" name="title" maxOccurs="1"
                                              minOccurs="0"/>
                                            <xs:element type="xs:string" name="file" maxOccurs="1"
                                              minOccurs="0"/>
                                            <xs:element type="xs:string" name="url" maxOccurs="1"
                                              minOccurs="0"/>
                                            <xs:element type="xs:string" name="caption" default=""
                                              maxOccurs="1" minOccurs="0"/>
                                            <xs:element type="xs:string" name="description"
                                              maxOccurs="1" minOccurs="0"/>
                                          </xs:all>
                                          <xs:attribute type="mediaTypes" name="type" use="required"
                                          />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="visitInformation"
                                        minOccurs="0" maxOccurs="1"/>
                                <xs:element name="events" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="event" minOccurs="1" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:all>
                                            <xs:element type="xs:string" name="name" minOccurs="1"
                                              maxOccurs="1"/>
                                            <xs:element type="xs:dateTime" name="start"
                                              minOccurs="1" maxOccurs="1"/>
                                            <xs:element type="xs:dateTime" name="end" minOccurs="1"
                                              maxOccurs="1"/>
                                            <xs:element type="xs:string" name="location"
                                              minOccurs="0" maxOccurs="1"/>
                                            <xs:element type="xs:string" name="summary"
                                              minOccurs="0" maxOccurs="1"/>
                                          </xs:all>
                                          <xs:attribute type="xs:string" name="type"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                              <xs:attribute type="xs:string" name="lang" use="required"/>
                              <xs:attribute type="xs:string" name="id" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute type="xs:string" name="id" use="required"/>
                  <xs:attribute type="xs:integer" name="layer" use="optional"/>
                  <xs:attribute type="xs:string" name="parent" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
